<!DOCTYPE html>
<html>
<head>
  <title>CourseCatalog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



    <nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Home', root_path, class: 'navbar-brand' %>
      <% if signed_in? %>
        <%= link_to 'Courses', '/course', class: 'navbar-brand' %>
        <%= link_to 'Subjects', '/subject', class: 'navbar-brand' %>
        <%= link_to 'Instructors', '/instructor', class: 'navbar-brand' %>
        <%= link_to 'Search', '/search', class: 'navbar-brand' %>
      <% end %>
    </div>
    <div id="navbar">

    </div>
  </div>
  </nav>

  <div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>



    <ul class="nav navbar-nav pull-right">
      <% if signed_in? %>
        <li><span><%= current_user.email %></span></li>
        <li><%= link_to 'Sign out', sign_out_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Sign in', sign_in_path %></li>
      <% end %>
    </ul>
  </div>

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="js/classie.js"></script>
  <script src="js/cbpAnimatedHeader.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="js/freelancer.js"></script>

<%= yield %>

</body>
</html>
