<!DOCTYPE html>
<html>
<head>
  <title>CourseCatalog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



    <nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Home', root_path, class: 'navbar-brand' %>
      <% if signed_in? %>
        <%= link_to 'Courses', '/course', class: 'navbar-brand' %>
        <%= link_to 'Subjects', '/subject', class: 'navbar-brand' %>
        <%= link_to 'Instructors', '/instructor', class: 'navbar-brand' %>
        <%= link_to 'Search', '/search', class: 'navbar-brand' %>
      <% end %>
    </div>
    <div id="navbar">

    </div>
  </div>
  </nav>
<%= yield %>

</body>
</html>
